
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans JP', sans-serif;
  @apply bg-[#000000] text-[#ffffff];
}

.manga-font {
  font-family: 'Bangers', cursive;
}

/* Painel Noir Ultra */
.manga-panel {
  border: 1px solid #1a1a1a;
  @apply bg-[#080808] transition-all;
}

/* Sliders Estilo White Line */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: #222;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 0;
  background: #ffffff;
  cursor: pointer;
  margin-top: -6px;
  border: 1px solid #000;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-black;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 hover:bg-zinc-600;
}

.halftone-bg {
  background-image: radial-gradient(#111 1px, transparent 0);
  background-size: 10px 10px;
}

@keyframes glitch {
  0% { transform: translate(0) skew(0); }
  20% { transform: translate(-1px, 1px) skew(1deg); }
  40% { transform: translate(-1px, -1px) skew(-1deg); }
  60% { transform: translate(1px, 1px) skew(1deg); }
  80% { transform: translate(1px, -1px) skew(-1deg); }
  100% { transform: translate(0) skew(0); }
}

.animate-glitch-fast {
  animation: glitch 0.2s infinite linear alternate-reverse;
}

button {
  @apply active:scale-95 transition-transform;
}
