
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans JP', sans-serif;
  @apply bg-[#000000] text-[#ffffff] selection:bg-white selection:text-black;
  background-color: #000000;
}

.manga-font {
  font-family: 'Bangers', cursive;
}

/* Painel Noir Ultra Sharp */
.manga-panel {
  border-width: 2px;
  border-color: #1a1a1a;
  @apply bg-[#050505] transition-all duration-300;
}

/* Sliders High Contrast */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: #27272a;
  border-radius: 0px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 0;
  background: #ffffff;
  cursor: pointer;
  margin-top: -8px;
  border: 2px solid #000;
  box-shadow: 0 0 20px rgba(255,255,255,0.05);
  transition: transform 0.1s;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(0.9);
  background: #cccccc;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-black;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 hover:bg-white;
}

.halftone-bg {
  background-image: radial-gradient(#111111 1px, transparent 0);
  background-size: 14px 14px;
}

@keyframes glitch {
  0% { transform: translate(0); }
  25% { transform: translate(-1px, 1px); }
  50% { transform: translate(1px, -1px); }
  75% { transform: translate(-1px, -1px); }
  100% { transform: translate(0); }
}

.animate-glitch-fast {
  animation: glitch 0.1s infinite linear;
}

button {
  @apply active:scale-95 transition-all duration-150;
}

textarea {
  @apply focus:ring-0;
}

/* Bordas de 2px ou 4px para visual de Nanquim */
.border-nanquim {
  border: 4px solid #000000;
}

.border-nanquim-thin {
  border: 2px solid #000000;
}
