
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans JP', sans-serif;
  @apply bg-[#000000] text-[#ffffff] selection:bg-white selection:text-black;
}

.manga-font {
  font-family: 'Bangers', cursive;
}

/* Painel Noir Ultra Sharp */
.manga-panel {
  border: 2px solid #18181b;
  @apply bg-[#080808] transition-all;
}

/* Sliders High Contrast */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: #27272a;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 0;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px;
  border: 2px solid #000;
  box-shadow: 0 0 15px rgba(255,255,255,0.1);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-black;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 hover:bg-white;
}

.halftone-bg {
  background-image: radial-gradient(#111111 1px, transparent 0);
  background-size: 12px 12px;
}

@keyframes glitch {
  0% { transform: translate(0); }
  25% { transform: translate(-1px, 1px); }
  50% { transform: translate(1px, -1px); }
  75% { transform: translate(-1px, -1px); }
  100% { transform: translate(0); }
}

.animate-glitch-fast {
  animation: glitch 0.15s infinite linear;
}

button {
  @apply active:scale-90 transition-all duration-150 cursor-pointer;
}

textarea {
  @apply focus:ring-0;
}
